.placement {
    margin-left: 50rem;
}


.placement2 {
    margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
    .placement {
        margin-left: 0;
    }


    .placement2 {
        margin-left: 0;
    }

}

.tailleHeader {
    height: 12rem;
    width: 100vw;
}

.tailleFooter {
    height: 8rem;
    width: 100vw;
    background-color: black;
    color: white;

}

.image {
    height: 12rem;
    width: auto;
}